div{
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1em;
    border-style: solid;
    border-color: #698733;
    border-width: 0.5em;

}
img{
    height: 70%;
    

}